/* Add your CSS to this file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 5px 80px;
    max-width: 1250px;
}

header h1{
    font-size: 18px;
    font-weight: bold;
}

header .container{
    align-items: center;
    display: flex;
    justify-content: space-between;  
    padding: 30px;
    background-color: white;
    font-size: 18px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a{
    color: #6b7280;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #5A67D8;
}

.overview-hero{
    background-color: #E2E8F0;
    padding: 60px 0;
}

.overview-hero .container{
    
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 50px;
}

.overview-hero img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.overview-hero-text h2{
    font-size: 25px;
}

.learn-about{
    padding: 25px 0 ; 
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;
    margin-bottom: 30px;
    margin-left: 10px;
}

.cards{ 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card{
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 340px;
    text-align: center;
}

.card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card-body h3{
    color: #48BB78;
    font-size: 21px;
    margin-top: 10px;
}

.testing{
    background-color: #4A5568;
    color: white;
    padding: 130px;
    text-align: left;
}

.testing .container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.testing .btn{
    border-radius: 5px;
    color: white;
    background-color: #48BB78;
    padding: 10px 80px;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.stories{
    align-items: center;
    padding: 60px 0 60px 0;
}

.stories h2{
    color: #5A67D8;
    margin-bottom: 40px;
}

.stories h3{
    padding-bottom: 30px;
    font-size: 18px;
}

.stories article{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 100px;
}

.stories article img{
    border-radius: 50%;
    height: 210px;
    width: 220px;
    object-fit: cover;
}

.stories p{
    padding-bottom: 20px;
}

.article-body{
    text-align: left;
}

.article-body h3{
    font-weight: bold;
    margin-bottom: 10px;
}

.article-body a{
    text-decoration: none;
}

.newsletter {
    text-align: center;
    background-color: #48BB78;
    color: white;
    padding: 80px;
}

.newsletter h3{
    padding-bottom: 20px;
}

.newsletter .form-group {
    display: inline-flex;
    align-items: left;
    padding: 10px;  
    padding-top: 20px;  
}

.newsletter input#email {
    padding: 10px;
    width: 280px;
    border: none;
    border-radius: 5%;
}

.newsletter .btn {
    background-color: #5A67D8;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer   
}

footer{
    background-color: #4A5568 ;
    padding: 30px 70px;
    color: white;
}
